/* IMPORTS CSS */
@import url(/css/header.css);
@import url(/css/about.css);
@import url(/css/summary.css);
@import url(/css/projects.css);
@import url(/css/contact.css);

/* FONTES */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@700&display=swap');

@font-face {
    font-family: 'Telegraf';
    src: url('../fonts/Telegraf-Regular-400.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Telegraf';
    src: url('../fonts/Telegraf-UltraBold-800.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'Telegraf';
    src: url('../fonts/Telegraf-UltraLight-200.woff') format('woff');
    font-weight: 200;
}

:root {
    --cor-fundo-primaria: #EEEEEE;
    --cor-primaria: #813429;
    --cor-secundaria: #956F6C;
    --cor-fonte: #303030;
    --fonte-telegraf: 'Telegraf';
    --fonte-libre-franklin: 'Libre Franklin';
    --fonte-montserrat: 'Montserrat';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

#casa-campo,
#sonho-menina,
#cozinha-beatriz,
#descanso-verde,
#sobre,
#contato {
    scroll-margin-top: 115px;
}

body {
    background-color: var(--cor-fundo-primaria);
    color: var(--cor-fonte);
}

p,
ul,
h3 {
    font-family: var(--fonte-montserrat);
    margin-bottom: 15px;
}

ul {
    padding-left: 1.5em;
}

p span {
    color: var(--cor-primaria);
    font-family: var(--fonte-telegraf);
    font-weight: bold;
}


/* CONTEUDO */
.conteudo {
    padding: 125px 10px 25px 10px;
}

.img {
    aspect-ratio: 16/9;
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.titulo {
    text-align: center;
    font-family: var(--fonte-telegraf);
    color: var(--cor-primaria);
    font-size: 40px;
    margin-top: 5px;
}

.subtitulo {
    font-size: 20px;
    font-family: var(--fonte-telegraf);
    color: var(--cor-primaria);
    margin-bottom: 10px;
}

/* RODAPE */
footer {
    background-color: var(--cor-primaria);
    padding: 1em;
}

footer p {
    margin: 0;
    text-align: center;
    color: var(--cor-fundo-primaria);
}

@media (min-width: 992px) {
    /* CONTEUDO */
    .conteudo {}

    .img {
        aspect-ratio: 16/8;
    }

    .titulo {
        text-align: start;
        font-size: 64px;
    }

    

    
}